.field {
    display: flex;
    height: 60px;
    /* width: 25%; */
    padding: 25px 0px 0px 25px;
    /* margin: 5px; */
}
.label {
    color:#fff;
}
.value {
    color: #222;
    padding-top:3px;
    font-weight: bolder;
}
