.header {
    height: 80px;
    background-color: #17a2b8;
    color: #fff;
    padding-left: 20px;
}
h1 {
    padding-top:10px;
    padding-left:10px;
    cursor: pointer;
    width: 210px;
}

@media screen and (max-width: 650px) {
    .header {
        height: 60px;
        padding-bottom: 10px;
        padding-left: 0px;
    }
}